/* Previous CSS Code */
.container {
    margin-top: 110px;
}

.product-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edit-delete-buttons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    width: 100%;
}

.image-and-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.image img {
    width: 100%; /* Match the full width of the container */
    height: auto; /* Height adjusted automatically */
    margin-right: 20px;
}

.content {
    margin-left: 20px;
}

/* Add responsive styles as needed */
@media (max-width: 768px) {
    .image img {
        width: 100%;
        height: auto;
        margin-right: 0;
    }
}

.back-button {
    margin-top: 20px;
    align-self: center;
}
