/* Global Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center; /* Center the content within the container */
}

/* Header Styles */
h1 {
    margin: 20px 0;
}

/* Search Form Styles */
.search-form-container {
    margin-top: 20px;
}

.search-form-3 {
    display: flex;
    justify-content: center; /* Center the search bar horizontally */
    align-items: center;
    overflow: hidden;
    border: 1px solid #787878;
    border-radius: 3px;
}

.search-form-3 input {
    width: 83px; /* Adjusted width to one-third */
    height: 35px; /* Keep height unchanged */
    padding: 5px 10px; /* Adjusted padding */
    border: none;
    box-sizing: border-box;
    font-size: 1em; /* Keep font size unchanged */
    outline: none;
}

.search-form-3 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px; /* Adjusted width to one-third */
    height: 35px; /* Keep height unchanged */
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-form-3 button::after {
    width: 18px; /* Adjusted width to one-third */
    height: 18px; /* Keep height unchanged */
}

.products-container {
    display: flex;
    flex-wrap: wrap; /* Items will now wrap to the next line */
    justify-content: space-evenly;
    align-items: flex-start;
}

.product-item {
    display: flex; /* Flex layout for the items */
    flex-direction: column; /* Stack image and info on top of each other */
    align-items: center; /* Center-align the items */
    justify-content: space-between; /* Space between image and info */
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 200px; /* Fixed width */
    box-sizing: border-box; /* Include padding and border in the width */
}

.product-image img, .add-product-link img {
    width: 100%; /* Full width of the parent element */
    height: auto; /* Height adjusted automatically */
    object-fit: cover; /* Cover the area without stretching */
}

/* Clear the float for every 6th product item */
.product-item:nth-child(6n) {
    clear: both;
}

/* Additional styles to center the '+' button if needed */
.add-product-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*.add-product-link img {
    width: 100px; /* Match the product image width 
    height: auto; /* Match the product image height */
/*} 
